* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-qism {
  width: 100%;
  background-color: #2a3950;
}
.header-botton {
  width: 1620px;
  margin: 0 auto;
  display: flex;
  gap: 7rem;
}
.header-botton-left-img {
  padding-top: 12rem;
}
.header-bootton-right h2 {
  padding-top: 12rem;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  text-transform: capitalize;
  color: #ffffff;
  opacity: 0.7;
}
.header-bootton-right h1 {
  font-weight: 400;
  font-size: 62px;
  line-height: 112%;
  color: #ffffff;
  margin-top: 1rem;
  text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.25);
}
.header-bootton-right p {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 1rem;
}
.header-bootton-right button {
  width: 215px;
  height: 68px;
  background: #00e0c7;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin-top: 3rem;
  margin-bottom: 12rem;
}
.header-bootton-right button p {
  font-weight: 700;
  font-size: 22px;
  line-height: 125%;
  /* text-align: center; */
  color: #2a3950;
  padding-bottom: 10px;
}
.main-top-qism {
  width: 100%;
  background-image: url(../img/main-img-fon.png);
  background-color: #264257;
}
.main {
  padding-top: 100px;
  width: 1620px;
  margin: 0 auto;
}
.main-top h1 {
  font-weight: 400;
  font-size: 62px;
  line-height: 112%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.15);
}
.main-top p {
  margin-top: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}
.main-img-1 {
  margin-top: 150px;
  width: 350px;
  height: 358px;
  background-color: #fff;
  background: #ffffff;
  box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transform: rotate(-15deg);
}
.main-img-1 img {
  transform: rotate(15deg);
  margin: -25px 0 0 -20px;
}
.main-img-1 h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #2a3950;
  margin: -50px 0 0 20px;
}
.main-img-1 h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #006270;
  margin: 10px 0 0 20px;
}
.main-img-1 button {
  width: 89px;
  height: 30px;
  border: 1px solid #006270;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 50px;
}
.main-img-2 {
  width: 350px;
  height: 358px;
  background-color: #fff;
  background: #ffffff;
  box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: -112px 0 0 700px;
}
.main-img-2 h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #2a3950;
  margin: -20px 0 0 20px;
}
.main-img-2 h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #006270;
  margin: 20px 0 0 20px;
}
.main-img-2 button {
  width: 89px;
  height: 30px;
  border: 1px solid #006270;
  border-radius: 5px;
  margin-top: 45px;
  margin-left: 50px;
}
.main-img-3 {
  margin: -660px 0 0 1300px;
  width: 350px;
  height: 358px;
  background-color: #fff;
  background: #ffffff;
  box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transform: rotate(15deg);
  margin-bottom: 500px;
}
.main-img-3 img {
  transform: rotate(-15deg);
  margin: -25px 0 0 -15px;
}
.main-img-3 h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #2a3950;
  margin: -43px 0 0 18px;
}
.main-img-3 h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #006270;
  margin: 10px 0 0 20px;
}
.main-img-3 button {
  width: 89px;
  height: 30px;
  border: 1px solid #006270;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 50px;
}
.img-1 {
    position: absolute;
    margin: -350px 0 0 420px;
}
.img-2 {
    position: absolute;
    margin: -790px 0 0 830px;
}
.img-3 {
    position: absolute;
    margin: -270px 0 0 1430px;
}
